/********************** ----SECTION STYLES---- ************************/
/* Main Section */
.main-section {
  background-color: #fff;
  padding-top: 100px;
}

.greeting {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.tom-container {
  padding-top: 5%;
}

/* About Section */
.about-section {
  background-color: #f7f7e8;
}

/* Experience Section */
.experience-section {
  background-color: #fff;
}

/* Social Section */
.social-section {
  background-color: #f7f7e8;
}

.social-link {
  color: black;
  margin-right: 10%;
}

.social-link:hover {
  color: #fb743e;
}

/********************** ----GLOBAL STYLES---- ************************/
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fb743e !important;
}

i {
  font-size: 2rem;
  margin: 15px 10% 15px 0%;
}

footer {
  background-color: #383e56;
}

section {
  height: 100%;
}

.hit-me-up {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.br-lg {
  border-style: block;
  margin-bottom: 2rem;
}

.br-xl {
  border-style: block;
  margin-bottom: 4rem;
}

.brand-font {
  font-family: "Pacifico", cursive;
  color: #c7cfb7 !important;
}

.brand-font:hover {
  color: #f7f7e8 !important;
}

.container {
  max-width: 67%;
}

.copyright {
  color: #eaf6f6;
  font-size: small;
}

.float-right {
  float: right;
}

.horizontal-center {
  text-align: center;
  margin: auto;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  background-color: #383e56;
}

.nav-link {
  color: #fff;
}

.party-div {
  float: right;
}

.subtle-text {
  color: #aa8e8b;
}

.tom-pic {
  width: 12rem;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
